<mat-nav-list class="display">
    <div class="card-header">
        <img src="../../assets/logo.JPG" alt="logo">
    </div>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="home">
      <mat-icon>home</mat-icon> Home
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
      <mat-icon>credit_card</mat-icon> My Card
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>receipt</mat-icon> Transactions
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>mail</mat-icon>Notifications
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>Payments
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon> Departments
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>people_outline</mat-icon>Users
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>payments</mat-icon>Audit Logs
      </a>
      <mat-divider></mat-divider>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/dashboard">
        <mat-icon>settings_application</mat-icon>Settings
      </a>
    
  </mat-nav-list>
  
