<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>

<button mat-button>Basic</button>
    <button mat-button color="primary">Primary</button>
    <button mat-button color="accent">Accent</button>


    <mat-card>
      <p>Amount due</p>
      <h1>{{ 500 |currency}}</h1>
    </mat-card> -->

<div class="card border-light bg-light" style="max-width: 100%; min-height: 100%;">
  <div class="row g-0">
    <div class="col-md-3">
      <app-navbar></app-navbar>
    </div>
    <div class="col-md-9" >
     <app-daterange></app-daterange>
     <app-home></app-home>
    </div>
  </div>
</div>

