<!-- <div class="d-flex justify-content-center">
    <div>
      <p>
        Christopher Walker
      </p>
      <span>ACME CORP</span>
    </div>
    <mat-icon style="color: aqua; font-size: 30px;">account_box</mat-icon>
  </div> -->
<div style="width: 25%; margin-right: 0;">



  <div class="dropdown">
    <a class="btn btn-light dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown"
      aria-expanded="false">
      <div class="d-flex justify-content-center">
        <div>
          <p>
            Christopher Walker
          </p>
          <span>ACME CORP</span>
        </div>
        <mat-icon style="color: aqua; font-size: 30px;">account_box</mat-icon>
      </div>
    </a>

    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <li><a class="dropdown-item" href="#">Kirthana</a></li>
      <li><a class="dropdown-item" href="#"></a></li>
      <li><a class="dropdown-item" href="#"></a></li>
    </ul>
  </div>
</div>